body {
    font-family: 'Roboto', sans-serif;
}

.text-center{
    text-align: center;
}

.messages{
    width: 100%;
    height: 600px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d1d3ff;
}

.usersOnline{
    width: 100%;
    height: 600px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d1d3ff;
}

.roomList {
    width: 100%;
    height: 300px;
    padding-top: 10px;
    padding-right: 20px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d1d3ff;

}

.descript {
    width: 100%;
    height: 280px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 20px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d1d3ff;

}

.form-control{
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.send{
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
    background-color: #b1ff5a;
    border-color: #74747f;
}

.message{
    background-color: #c6ccff;
    margin: 5px;
    padding: 13px;
    border-radius: 5px;
}

.messageMe{
    background-color: #cdffd2;
    margin: 5px;
    padding: 13px;
    border-radius: 5px;
}

.user{
    background-color: #c6ccff;
    margin: 5px;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
}

.userMe{
    background-color: #cdffd2;
    margin: 5px;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
}

.time-left{
    float: right;
}

#emptyFields{
    margin-top: 10px;
    /*padding-top: 10px;*/
}


.eachRoom{
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: #cdffd2;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;

}



